FLASK_APP=run.py
FLASK_ENV=development
FLASK_RUN_PORT=5005
DATABASE_URL=postgresql://user:password@localhost:5432/inventory_db
TEST_DATABASE_URL=postgresql://user:password@localhost:5432/inventory_test_db
